<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %>

    <p class="about content">This is the about page</p>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>